[Unit]
Description=assistant_library_demo app

[Service] 
ExecStart=/bin/bash -c '/home/pi/AIY-voice-kit-python/env/bin/python3 -u ./src/examples/voice/replacement ' 
WorkingDirectory=/home/pi/AIY-voice-kit-python 
Restart=always 
User=pi 

[Install] 
WantedBy=multi-user.target
